In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pymap3d as pm

In [2]:
df = pd.read_csv("/home/torsten/ms/data/rosbag2_2024_01_05-12_47_24/ublox.csv")
df

,sec,nanosec,lat,lon,alt,vel_n,vel_e,vel_d,h_acc
0,1704451644,745270590,-33.788448,18.960100,149.408,0.00,0.03,0.04,15.685
1,1704451645,150504223,-33.788447,18.960102,149.261,0.03,0.02,0.04,15.708
2,1704451645,545843986,-33.788448,18.960107,148.920,-0.08,0.11,0.05,15.730
3,1704451645,946381040,-33.788448,18.960107,148.806,-0.03,0.04,0.05,15.754
4,1704451646,349933946,-33.788448,18.960109,148.638,-0.07,0.06,0.05,15.775
...,...,...,...,...,...,...,...,...,...
1564,1704452276,352632009,-33.789307,18.962076,146.269,0.01,0.01,0.03,4.062
1565,1704452276,749299056,-33.789307,18.962076,146.309,0.03,0.03,0.03,4.061
1566,1704452277,154872502,-33.789307,18.962075,146.354,0.01,0.01,0.03,4.058
1567,1704452277,552798830,-33.789307,18.962075,146.424,0.01,0.00,0.03,4.055
1568,1704452277,949907291,-33.789307,18.962075,146.426,0.01,0.02,0.03,4.053

In [6]:
%matplotlib tk
lat0 = df.iloc[0, 2]
lon0 = df.iloc[0, 3]
h0 = df.iloc[0, 4]

plt.figure()
plt.axis('equal')
plt.grid()
for index, row in df.iterrows():
    if index % 10 != 0:
        continue
    enu = pm.geodetic2enu(row["lat"], row["lon"], row["alt"], lat0, lon0, h0)
    plt.plot(enu[0], enu[1], "bx-")
    plt.errorbar(enu[0], enu[1], row["h_acc"], row["h_acc"])