In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pymap3d as pm

In [2]:
df = pd.read_csv("/home/torsten/ms/data/rosbag2_old_zoo_a_09_29/ublox.csv")
df

,sec,nanosec,lat,lon,alt,vel_n,vel_e,vel_d,h_acc
0,1695990717,339259638,-33.961781,18.459736,135.127,0.06,-0.02,0.01,4.333
1,1695990717,744454095,-33.961781,18.459736,135.205,0.00,0.00,-0.01,4.334
2,1695990718,139187619,-33.961781,18.459737,135.246,0.00,0.01,0.00,4.335
3,1695990718,542473933,-33.961781,18.459737,135.272,-0.03,0.01,0.00,4.336
4,1695990718,950614801,-33.961781,18.459737,135.273,0.02,-0.01,0.00,4.338
...,...,...,...,...,...,...,...,...,...
1062,1695991146,956316730,-33.961826,18.459754,132.007,-0.02,0.01,0.03,4.539
1063,1695991147,346157102,-33.961826,18.459755,131.991,-0.03,0.03,0.04,4.547
1064,1695991147,750519063,-33.961826,18.459755,132.039,0.00,0.02,0.03,4.555
1065,1695991148,146838381,-33.961826,18.459755,132.045,-0.03,0.01,0.03,4.563
1066,1695991148,543884670,-33.961826,18.459756,132.077,0.02,0.01,0.04,4.572

In [3]:
%matplotlib tk
lat0 = df.iloc[0, 2]
lon0 = df.iloc[0, 3]
h0 = df.iloc[0, 4]

plt.figure()
plt.axis('equal')
plt.grid()
for index, row in df.iterrows():
    if index % 10 != 0:
        continue
    enu = pm.geodetic2enu(row["lat"], row["lon"], row["alt"], lat0, lon0, h0)
    plt.plot(enu[0], enu[1], "-bx")
    plt.errorbar(enu[0], enu[1], row["h_acc"], row["h_acc"])